<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thank You!</title>

</head>
<body>
Hello World!
<div class="container">
<!--    <div class="mt-5">Class: <strong th:text="${customer.getCustomerEmail()}"></strong></div>-->
<!--    <div class="mt-5">Class: <strong th:text="${ticket.getSeatClass()}"></strong></div>-->
<!--    <div class="mt-5">Flight Insurance: <strong th:text="${ticket.getInsurance()}"></strong></div>-->
<!--    <div class="mt-5">Meal: <strong th:text="${ticket.getMeal()}"></strong></div>-->
<!--    <div class="mt-5">Luggage Quantity: <strong th:text="${ticket.getLuggage()}"></strong></div>-->

    <button type="button" class="btn" onclick="goBack()" id="return">Go Back</button>
</div>
</body>
</html>